@using MtgMeta.Models
@model Carta

<div class = "container" >
	<div class= "row">
		<div class = "col col-12 ">
			<div>
				<h1> dettagli carta </h1>


			</div>
			<p>
				nome : @Model.Nome
			</p>
			<p> prezzo: @Model.Prezzo</p>

			<h1>in progress....</h1>
			<div> 
				
			</div>
		  				
			
		</div>

	</div>
</div>

